.bg-primary{
    background-color: #f69e7b;
}
.bg-secundary{
    background-color: #523d35;
}
.text-center{
    text-align: center;
}
.text-light{
    color: #611c2b;
}
.text-info{
    color: #ece5e4;
}
.w-200 {
    width: 200px;
}
.text-primary{
    color: rgb(29, 21, 21);
}
.text-white{
    color: #fff;
}
.button-info{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
